body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#carousel {
    padding-left: 50px;
}

#carousel a {
    display: block;
    float: left;
    position: relative;
    top: 80px;
    color: white;
    text-decoration: none;
    z-index: 1;
    font-size: 40px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#rotateLeft {
    left: 22px;
}

#rotateRight {
    left: -22px; 
}

#carousel-list {
    position: relative;
    padding: 0px;
}

#carousel-list li {
    list-style: none;
    display: block;
    float: left;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

#carousel-list li img {
    display: block;
}

#carousel-list li label {
    display: block;
    width: 100%;
    text-align: center; 
    position: relative;
    top: -20px;
    color: white;
}
